<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <appSettings>
      <!--
		  this is the Public Key config file section 
		-->
      <add key="PublicKey.Modulus" value="3uWxbWSnlL2ntr/gcJ0NQeiWRfzj/72zIDuBW/TmegeodMdPUvI5vXur0fKp6RbSU112oPf9o7hoAF8bdR9YOiJg6axZYKh+BxEH6pUPLbrtn1dPCUgTxlMeo0IhKvih1Q90Bz+ZxCp/V8Hcf86p+4LPeb1o9EOa01zd0yUwvkE=" />
      <add key="PublicKey.Exponent" value="AQAB" />
      <!-- 
		  this is the Private Key config file section
		  NOTE: private key requires BOTH public and private sections!
		-->
      <add key="PrivateKey.P" value="76iHZusdN1TYrTqf1gExNMMWbiHS7zSB/bi/xeUR0F3fjvnvsayn6s5ShM0jxYHVVkRyVoH16PwLW6Tt2gpdYw==" />
      <add key="PrivateKey.Q" value="7hiVRmx0z1KERw+Zy86MmlvuODUsn2kuM06kLsSHbznSkYl5lekH9RFxFemNkGGMBg8OT5+EVtWAOdto8KTJCw==" />
      <add key="PrivateKey.DP" value="ksvo/EqBn9XRzvH826npSQdCYv1G5gyEnzQeC4qPidEmUb6Yan12cWYlt4CsK5umYGwWmRSL20Ufc+gnZQo6Pw==" />
      <add key="PrivateKey.DQ" value="QliLUCJsslDWF08blhUqTOENEpCOrKUMgLOLQJT3AGFmcbOTM9jJpNqFXovELNVhxVZwsHNM1z2LC5Q+O8BPXQ==" />
      <add key="PrivateKey.InverseQ" value="pjEtLwYB4yeDpdORNFxhFVXWZCqoky86bmAnrrG4+FvwkH/2dNe65Wmp62JvZ7dwgPBIA+uA/LF+C1LXcXe9Aw==" />
      <add key="PrivateKey.D" value="EmuZBhlTYA9sVMX2nlfcSJ4YDSChFvluXDOOtTK/+UW4vi3aeFhcPTSDNo5/TCv+pbULoLHd3DHZJm61rjAw8jV5n09Trufg/Z3ybzUrAOzT3iTR2rvg7mNS2IBmaTyJgemNKQDeFW81UOELVszUXNjhVex+k67Ma4omR6iTHSE=" />
   </appSettings>
</configuration>