<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="5.1.1" targetFramework="net451" />
  <package id="Castle.Core" version="4.4.0" targetFramework="net47" />
  <package id="HFM.Client" version="0.4.1" targetFramework="net47" />
  <package id="HFM.Log" version="0.2.0" targetFramework="net47" />
  <package id="HFM.Proteins" version="0.1.2" targetFramework="net47" />
  <package id="Moq" version="4.14.5" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net47" />
  <package id="NUnit" version="3.12.0" targetFramework="net47" />
  <package id="NUnit3TestAdapter" version="3.17.0" targetFramework="net47" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net47" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.1" targetFramework="net47" />
</packages>