<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <configSections>
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
         <section name="harlam357.Windows.Forms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      </sectionGroup>
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
         <section name="HFM.Preferences.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      </sectionGroup>
      <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
   </configSections>
   <applicationSettings>
      <harlam357.Windows.Forms.Properties.Settings>
         <setting name="ReportUrl" serializeAs="String">
            <value>http://groups.google.com/group/hfm-net</value>
         </setting>
         <setting name="UpdateUrl" serializeAs="String">
            <value>http://www.hfm-net.com/update/ApplicationUpdate.xml</value>
         </setting>
      </harlam357.Windows.Forms.Properties.Settings>
   </applicationSettings>
   <userSettings>
      <HFM.Preferences.Properties.Settings>
         <setting name="SyncOnLoad" serializeAs="String">
            <value>False</value>
         </setting>
         <setting name="SyncOnSchedule" serializeAs="String">
            <value>True</value>
         </setting>
         <setting name="GenerateWeb" serializeAs="String">
            <value>False</value>
         </setting>
         <setting name="WebRoot" serializeAs="String">
            <value>C:\Inetpub\wwwroot\MyFolding</value>
         </setting>
         <setting name="CSSFile" serializeAs="String">
            <value>Blue.css</value>
         </setting>
         <setting name="SyncTimeMinutes" serializeAs="String">
            <value>15</value>
         </setting>
         <setting name="GenerateInterval" serializeAs="String">
            <value>15</value>
         </setting>
         <setting name="TeamID" serializeAs="String">
            <value>32</value>
         </setting>
         <setting name="ProxyServer" serializeAs="String">
            <value />
         </setting>
         <setting name="ProxyUser" serializeAs="String">
            <value />
         </setting>
         <setting name="ProxyPass" serializeAs="String">
            <value />
         </setting>
         <setting name="UseProxy" serializeAs="String">
            <value>False</value>
         </setting>
         <setting name="UseProxyAuth" serializeAs="String">
            <value>False</value>
         </setting>
         <setting name="EOCUserID" serializeAs="String">
            <value>136552</value>
         </setting>
         <setting name="ProxyPort" serializeAs="String">
            <value>8080</value>
         </setting>
         <setting name="StanfordID" serializeAs="String">
            <value>harlam357</value>
         </setting>
         <setting name="ApplicationVersion" serializeAs="String">
            <value />
         </setting>
         <setting name="CacheFolder" serializeAs="String">
            <value>logcache</value>
         </setting>
         <setting name="FormLogVisible" serializeAs="String">
            <value>False</value>
         </setting>
         <setting name="FormSortOrder" serializeAs="String">
            <value>Ascending</value>
         </setting>
         <setting name="FormSortColumn" serializeAs="String">
            <value>Name</value>
         </setting>
         <setting name="OfflineLast" serializeAs="String">
            <value>True</value>
         </setting>
         <setting name="DefaultConfigFile" serializeAs="String">
            <value />
         </setting>
         <setting name="UseDefaultConfigFile" serializeAs="String">
            <value>False</value>
         </setting>
         <setting name="PpdCalculation" serializeAs="String">
            <value>LastThreeFrames</value>
         </setting>
         <setting name="TimeStyle" serializeAs="String">
            <value>Standard</value>
         </setting>
         <setting name="LogFileViewer" serializeAs="String">
            <value>notepad.exe</value>
         </setting>
         <setting name="FileExplorer" serializeAs="String">
            <value>explorer.exe</value>
         </setting>
         <setting name="ProjectDownloadUrl" serializeAs="String">
            <value>http://fah-web.stanford.edu/psummary.html</value>
         </setting>
         <setting name="WebGenAfterRefresh" serializeAs="String">
            <value>False</value>
         </setting>
         <setting name="MessageLevel" serializeAs="String">
            <value>3</value>
         </setting>
         <setting name="FormSplitLocation" serializeAs="String">
            <value>360</value>
         </setting>
         <setting name="FormLogWindowHeight" serializeAs="String">
            <value>360</value>
         </setting>
         <setting name="AutoSaveConfig" serializeAs="String">
            <value>False</value>
         </setting>
         <setting name="DecimalPlaces" serializeAs="String">
            <value>1</value>
         </setting>
         <setting name="ShowUserStats" serializeAs="String">
            <value>True</value>
         </setting>
         <setting name="DuplicateUserIDCheck" serializeAs="String">
            <value>True</value>
         </setting>
         <setting name="DuplicateProjectCheck" serializeAs="String">
            <value>True</value>
         </setting>
         <setting name="ColorLogFile" serializeAs="String">
            <value>True</value>
         </setting>
         <setting name="EmailReportingToAddress" serializeAs="String">
            <value />
         </setting>
         <setting name="EmailReportingFromAddress" serializeAs="String">
            <value />
         </setting>
         <setting name="EmailReportingServerAddress" serializeAs="String">
            <value />
         </setting>
         <setting name="EmailReportingEnabled" serializeAs="String">
            <value>False</value>
         </setting>
         <setting name="EmailReportingServerUsername" serializeAs="String">
            <value />
         </setting>
         <setting name="EmailReportingServerPassword" serializeAs="String">
            <value />
         </setting>
         <setting name="ReportEuePause" serializeAs="String">
            <value>False</value>
         </setting>
         <setting name="QueueViewerVisible" serializeAs="String">
            <value>True</value>
         </setting>
         <setting name="GraphColors" serializeAs="Xml">
            <value>
               <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                   xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                  <string>Red</string>
                  <string>Green</string>
                  <string>Blue</string>
                  <string>Chocolate</string>
                  <string>Teal</string>
                  <string>MidnightBlue</string>
                  <string>Maroon</string>
                  <string>DarkOliveGreen</string>
                  <string>Indigo</string>
               </ArrayOfString>
            </value>
         </setting>
         <setting name="RunMinimized" serializeAs="String">
            <value>False</value>
         </setting>
         <setting name="WebGenCopyFAHlog" serializeAs="String">
            <value>True</value>
         </setting>
         <setting name="CalculateBonus" serializeAs="String">
            <value>True</value>
         </setting>
         <setting name="AllowRunningAsync" serializeAs="String">
            <value>True</value>
         </setting>
         <setting name="WebGenFtpMode" serializeAs="String">
            <value>Passive</value>
         </setting>
         <setting name="WebOverview" serializeAs="String">
            <value>WebOverview.xslt</value>
         </setting>
         <setting name="WebMobileOverview" serializeAs="String">
            <value>WebMobileOverview.xslt</value>
         </setting>
         <setting name="WebSummary" serializeAs="String">
            <value>WebSummary.xslt</value>
         </setting>
         <setting name="WebMobileSummary" serializeAs="String">
            <value>WebMobileSummary.xslt</value>
         </setting>
         <setting name="WebInstance" serializeAs="String">
            <value>WebInstance.xslt</value>
         </setting>
         <setting name="FormShowStyle" serializeAs="String">
            <value>SystemTray</value>
         </setting>
         <setting name="EmailReportingServerPort" serializeAs="String">
            <value>25</value>
         </setting>
         <setting name="EmailReportingServerSecure" serializeAs="String">
            <value>False</value>
         </setting>
         <setting name="CompletedCountDisplay" serializeAs="String">
            <value />
         </setting>
         <setting name="StartupCheckForUpdate" serializeAs="String">
            <value>True</value>
         </setting>
         <setting name="MaintainSelectedClient" serializeAs="String">
            <value>False</value>
         </setting>
         <setting name="WebGenCopyHtml" serializeAs="String">
            <value>True</value>
         </setting>
         <setting name="WebGenCopyXml" serializeAs="String">
            <value>False</value>
         </setting>
         <setting name="WebGenLimitLogSize" serializeAs="String">
            <value>False</value>
         </setting>
         <setting name="WebGenLimitLogSizeLength" serializeAs="String">
            <value>1024</value>
         </setting>
         <setting name="ShowVersions" serializeAs="String">
            <value>False</value>
         </setting>
         <setting name="EtaDate" serializeAs="String">
            <value>False</value>
         </setting>
         <setting name="ShowTeamStats" serializeAs="String">
            <value>False</value>
         </setting>
         <setting name="HistoryProductionView" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="HistorySortColumnName" serializeAs="String">
            <value />
         </setting>
         <setting name="HistorySortOrder" serializeAs="String">
            <value>None</value>
         </setting>
         <setting name="ShowFirstChecked" serializeAs="String">
            <value>False</value>
         </setting>
         <setting name="ShowEntriesValue" serializeAs="String">
            <value>1000</value>
         </setting>
         <setting name="ShowLastChecked" serializeAs="String">
            <value>False</value>
         </setting>
         <setting name="WebGenCopyClientData" serializeAs="String">
            <value>False</value>
         </setting>
      </HFM.Preferences.Properties.Settings>
   </userSettings>
   <castle>
      <components>
         <component
            id="messageBoxView"
            service="harlam357.Windows.Forms.IMessageBoxView, harlam357.Windows.Forms"
            type="harlam357.Windows.Forms.MessageBoxView, harlam357.Windows.Forms"
            lifestyle="transient">
         </component>
         <component
            id="openFileDialogView"
            service="harlam357.Windows.Forms.IOpenFileDialogView, harlam357.Windows.Forms"
            type="harlam357.Windows.Forms.OpenFileDialogView, harlam357.Windows.Forms"
            lifestyle="transient">
         </component>
         <component
            id="saveFileDialogView"
            service="harlam357.Windows.Forms.ISaveFileDialogView, harlam357.Windows.Forms"
            type="harlam357.Windows.Forms.SaveFileDialogView, harlam357.Windows.Forms"
            lifestyle="transient">
         </component>
         <component
            id="folderBrowserView"
            service="harlam357.Windows.Forms.IFolderBrowserView, harlam357.Windows.Forms"
            type="harlam357.Windows.Forms.FolderBrowserView, harlam357.Windows.Forms"
            lifestyle="transient">
         </component>
      
         <component
            id="preferenceSet"
            service="HFM.Framework.IPreferenceSet, HFM.Framework"
            type="HFM.Preferences.PreferenceSet, HFM.Preferences">
         </component>
         <component
            id="networkOps"
            service="HFM.Framework.INetworkOps, HFM.Framework"
            type="HFM.Framework.NetworkOps, HFM.Framework"
            lifestyle="transient">
         </component>
         <component
            id="messagesView"
            service="HFM.Framework.IMessagesView, HFM.Framework"
            type="HFM.Forms.frmMessages, HFM">
         </component>
         <component
            id="frmMain"
            type="HFM.Forms.frmMain, HFM">
         </component>
         <component
            id="historyPresenter"
            type="HFM.Forms.HistoryPresenter, HFM"
            lifestyle="transient">
         </component>
         <component
            id="historyPresenterModel"
            service="HFM.Models.IHistoryPresenterModel, HFM"
            type="HFM.Models.HistoryPresenterModel, HFM"
            lifestyle="transient">
         </component>
         <component
            id="queryParameterContainer"
            service="HFM.Instances.IQueryParameterContainer, HFM.Instances"
            type="HFM.Instances.QueryParameterContainer, HFM.Instances">
         </component>
         <component
            id="historyView"
            service="HFM.Forms.IHistoryView, HFM"
            type="HFM.Forms.frmHistory, HFM"
            lifestyle="transient">
         </component>
         <component
            id="queryView"
            service="HFM.Forms.IQueryView, HFM"
            type="HFM.Forms.frmQuery, HFM"
            lifestyle="transient">
         </component>
         <component
            id="instanceSettingsPresenter"
            type="HFM.Forms.InstanceSettingsPresenter, HFM"
            lifestyle="transient">
         </component>
         <component
            id="instanceSettingsView"
            service="HFM.Forms.IInstanceSettingsView, HFM"
            type="HFM.Forms.frmHost, HFM"
            lifestyle="transient">
         </component>
         
         <component
            id="xmlStatsDataContainer"
            service="HFM.Framework.IXmlStatsDataContainer, HFM.Framework"
            type="HFM.Framework.XmlStatsDataContainer, HFM.Framework">
         </component>
         <component
            id="instanceCollection"
            type="HFM.Instances.InstanceCollection, HFM.Instances">
         </component>

         <component
            id="projectDownloadView"
            service="HFM.Framework.IProjectDownloadView, HFM.Framework"
            type="HFM.Forms.frmProjects, HFM"
            lifestyle="transient">
         </component>
         <component
            id="proteinCollection"
            service="HFM.Framework.IProteinCollection, HFM.Framework"
            type="HFM.Proteins.ProteinCollection, HFM.Proteins">
         </component>
         <component
            id="unitInfoDatabase"
            service="HFM.Instances.IUnitInfoDatabase, HFM.Instances"
            type="HFM.Instances.UnitInfoDatabase, HFM.Instances">
         </component>
         <component
            id="projectSummaryDownloader"
            service="HFM.Framework.IProjectSummaryDownloader, HFM.Framework"
            type="HFM.Proteins.ProjectSummaryDownloader, HFM.Proteins">
         </component>
         <component
            id="proteinBenchmarkContainer"
            service="HFM.Framework.IProteinBenchmarkContainer, HFM.Framework"
            type="HFM.Instances.ProteinBenchmarkContainer, HFM.Instances">
         </component>
         <component
            id="unitInfoContainer"
            service="HFM.Instances.IUnitInfoContainer, HFM.Instances"
            type="HFM.Instances.UnitInfoContainer, HFM.Instances">
         </component>
         <component
            id="clientInstanceFactory"
            service="HFM.Instances.IClientInstanceFactory, HFM.Instances"
            type="HFM.Instances.ClientInstanceFactory, HFM.Instances">
         </component>

         <component
            id="dataRetriever"
            service="HFM.Instances.IDataRetriever, HFM.Instances"
            type="HFM.Instances.DataRetriever, HFM.Instances"
            lifestyle="transient">
         </component>
         <component
            id="dataAggregator"
            service="HFM.Framework.IDataAggregator, HFM.Framework"
            type="HFM.Instances.DataAggregator, HFM.Instances"
            lifestyle="transient">
         </component>
         <component
            id="queueReader"
            service="HFM.Framework.IQueueReader, HFM.Framework"
            type="HFM.Queue.QueueReader, HFM.Queue"
            lifestyle="transient">
         </component>
         <component
            id="logReaderFactory"
            service="HFM.Framework.ILogReaderFactory, HFM.Framework"
            type="HFM.Log.LogReaderFactory, HFM.Log">
         </component>
         <component
            id="unitInfoFactory"
            service="HFM.Instances.IUnitInfoFactory, HFM.Instances"
            type="HFM.Instances.UnitInfoFactory, HFM.Instances">
         </component>
         
         <component
            id="markupGenerator"
            service="HFM.Instances.IMarkupGenerator, HFM.Instances"
            type="HFM.Instances.MarkupGenerator, HFM.Instances">
         </component>
         <component
            id="websiteDeployer"
            service="HFM.Instances.IWebsiteDeployer, HFM.Instances"
            type="HFM.Instances.WebsiteDeployer, HFM.Instances">
         </component>
         <component
            id="statusLogic"
            service="HFM.Instances.IStatusLogic, HFM.Instances"
            type="HFM.Instances.StatusLogic, HFM.Instances">
         </component>
      </components>
   </castle>
</configuration>
