<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HFM.Preferences.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HFM.Preferences.Properties.Settings>
            <setting name="SyncOnLoad" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SyncOnSchedule" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GenerateWeb" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WebRoot" serializeAs="String">
                <value>C:\Inetpub\wwwroot\MyFolding</value>
            </setting>
            <setting name="CSSFile" serializeAs="String">
                <value>Blue.css</value>
            </setting>
            <setting name="SyncTimeMinutes" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="GenerateInterval" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="TeamID" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="ProxyServer" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyUser" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyPass" serializeAs="String">
                <value />
            </setting>
            <setting name="UseProxy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseProxyAuth" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EOCUserID" serializeAs="String">
                <value>136552</value>
            </setting>
            <setting name="ProxyPort" serializeAs="String">
                <value>8080</value>
            </setting>
            <setting name="StanfordID" serializeAs="String">
                <value>harlam357</value>
            </setting>
            <setting name="ApplicationVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="CacheFolder" serializeAs="String">
                <value>logcache</value>
            </setting>
            <setting name="FormLogVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FormSortOrder" serializeAs="String">
                <value>Ascending</value>
            </setting>
            <setting name="FormSortColumn" serializeAs="String">
                <value>Name</value>
            </setting>
            <setting name="OfflineLast" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultConfigFile" serializeAs="String">
                <value />
            </setting>
            <setting name="UseDefaultConfigFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PpdCalculation" serializeAs="String">
                <value>LastThreeFrames</value>
            </setting>
            <setting name="TimeStyle" serializeAs="String">
                <value>Standard</value>
            </setting>
            <setting name="LogFileViewer" serializeAs="String">
                <value>notepad.exe</value>
            </setting>
            <setting name="FileExplorer" serializeAs="String">
                <value>explorer.exe</value>
            </setting>
            <setting name="ProjectDownloadUrl" serializeAs="String">
                <value>http://fah-web.stanford.edu/psummary.html</value>
            </setting>
            <setting name="WebGenAfterRefresh" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MessageLevel" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="FormSplitLocation" serializeAs="String">
                <value>360</value>
            </setting>
            <setting name="FormLogWindowHeight" serializeAs="String">
                <value>360</value>
            </setting>
            <setting name="AutoSaveConfig" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DecimalPlaces" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ShowUserStats" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DuplicateUserIDCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DuplicateProjectCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ColorLogFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EmailReportingToAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailReportingFromAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailReportingServerAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailReportingEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EmailReportingServerUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailReportingServerPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="ReportEuePause" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="QueueViewerVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GraphColors" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Red</string>
                        <string>Green</string>
                        <string>Blue</string>
                        <string>Chocolate</string>
                        <string>Teal</string>
                        <string>MidnightBlue</string>
                        <string>Maroon</string>
                        <string>DarkOliveGreen</string>
                        <string>Indigo</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="RunMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WebGenCopyFAHlog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CalculateBonus" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AllowRunningAsync" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WebGenFtpMode" serializeAs="String">
                <value>Passive</value>
            </setting>
            <setting name="WebOverview" serializeAs="String">
                <value>WebOverview.xslt</value>
            </setting>
            <setting name="WebMobileOverview" serializeAs="String">
                <value>WebMobileOverview.xslt</value>
            </setting>
            <setting name="WebSummary" serializeAs="String">
                <value>WebSummary.xslt</value>
            </setting>
            <setting name="WebMobileSummary" serializeAs="String">
                <value>WebMobileSummary.xslt</value>
            </setting>
            <setting name="WebSlot" serializeAs="String">
                <value>WebSlot.xslt</value>
            </setting>
            <setting name="FormShowStyle" serializeAs="String">
                <value>SystemTray</value>
            </setting>
            <setting name="EmailReportingServerPort" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="EmailReportingServerSecure" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CompletedCountDisplay" serializeAs="String">
                <value />
            </setting>
            <setting name="StartupCheckForUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WebGenCopyHtml" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WebGenCopyXml" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WebGenLimitLogSize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WebGenLimitLogSizeLength" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="ShowVersions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EtaDate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowTeamStats" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HistoryProductionView" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HistorySortColumnName" serializeAs="String">
                <value />
            </setting>
            <setting name="HistorySortOrder" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="ShowFirstChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowEntriesValue" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="ShowLastChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReportHung" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BenchmarksGraphLayoutType" serializeAs="String">
                <value>Single</value>
            </setting>
            <setting name="BenchmarksClientsPerGraph" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="WebGenServer" serializeAs="String">
                <value />
            </setting>
            <setting name="WebGenPort" serializeAs="String">
                <value>21</value>
            </setting>
            <setting name="WebGenUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="WebGenPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="WebGenType" serializeAs="String">
                <value />
            </setting>
        </HFM.Preferences.Properties.Settings>
    </userSettings>
</configuration>
