<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="HFM.Forms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <HFM.Forms.Properties.Settings>
      <setting name="UpdateUrl" serializeAs="String">
        <value>https://hfmnet.blob.core.windows.net/hfmnet/ApplicationUpdate.xml</value>
      </setting>
    </HFM.Forms.Properties.Settings>
  </applicationSettings>
</configuration>
