<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="5.1.1" targetFramework="net451" />
  <package id="HFM.Client" version="0.4.0" targetFramework="net47" />
  <package id="HFM.Log" version="0.1.0" targetFramework="net47" />
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="3.3.0" targetFramework="net47" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.VersionCheckAnalyzer" version="3.3.0" targetFramework="net47" developmentDependency="true" />
  <package id="Microsoft.CodeQuality.Analyzers" version="3.3.0" targetFramework="net47" developmentDependency="true" />
  <package id="Microsoft.NetCore.Analyzers" version="3.3.0" targetFramework="net47" developmentDependency="true" />
  <package id="Microsoft.NetFramework.Analyzers" version="3.3.0" targetFramework="net47" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net47" />
  <package id="PetaPoco.Core" version="5.1.306" targetFramework="net45" />
  <package id="protobuf-net" version="2.0.0.668" targetFramework="net40-Client" />
</packages>