<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

   <?define ProductName="$(fileVersion.ProductName($(var.HFM.TargetPath)\HFM.exe))" ?>
   <?define CompanyName="$(fileVersion.CompanyName($(var.HFM.TargetPath)\HFM.exe))" ?>
   <?define ProductVersion="$(fileVersion.ProductVersion($(var.HFM.TargetPath)\HFM.exe))" ?>

   <Product Name="$(var.ProductName) $(var.ProductVersion)" Id="*" UpgradeCode="FF322DDA-7E89-4552-9455-CE7917FD7D91"
     Language="1033" Version="$(var.ProductVersion)" Manufacturer="$(var.CompanyName)">

      <Package Id="*" Keywords="Installer" Description="HFM.NET $(var.ProductVersion) Installer"
        Manufacturer="$(var.CompanyName)"
        InstallerVersion="200" Languages="1033" Compressed="yes" />
           
      <Property Id="ARPPRODUCTICON" Value="HFM.exe" />
      <Property Id="ARPHELPLINK" Value="http://code.google.com/p/hfm-net/" />

      <Upgrade Id="FF322DDA-7E89-4552-9455-CE7917FD7D91">
         <UpgradeVersion OnlyDetect="no" Property="PREVIOUSFOUND" 
                         Minimum="0.3.0" Maximum="$(var.ProductVersion)" IncludeMaximum="no" />
      </Upgrade>

      <Media Id="1" Cabinet="HFM1.cab" EmbedCab="yes" />

      <Directory Id="TARGETDIR" Name="SourceDir">
         <Directory Id="AppDataFolder" />
         <Directory Id="DesktopFolder" />
         <Directory Id="ProgramMenuFolder" Name="Programs">
            <Directory Id="ProgramMenuDir" Name="HFM.NET">
               <Component Id="ProgramMenuDir" Guid="26828A71-9B34-4086-A233-5972639553D6">
                  <RemoveFolder Id='ProgramMenuDir' On='uninstall' />
                  <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='string' Value='' KeyPath='yes' />
               </Component>
            </Directory>
         </Directory>

         <Directory Id="ProgramFilesFolder">
            <Directory Id="INSTALLDIR" Name="HFM.NET" />
         </Directory>
      </Directory>

      <Feature Id="Complete" Title="HFM.NET" Level="1">
         <ComponentGroupRef Id="group_hfm" />
         <ComponentRef Id="ProgramMenuDir" />
      </Feature>

      <InstallExecuteSequence>
         <RemoveExistingProducts After="InstallInitialize" />
      </InstallExecuteSequence>

      <Icon Id="HFM.exe" SourceFile="..\HFM.NET\HFM.exe" />

      <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" ></Property>
      <UIRef Id="WixUI_InstallDir"/>
   </Product>
</Wix>
