.table-heading {
    background-color: #2d5873;
    color: #FFFFFF;
}

.table-column {
    background-color: #d8f1ff;
}

.table-column-alt {
    background-color: #82b8d8;
}

.column {
    background-color: #d8f1ff;
}
