.Instance {
    padding: 5px 5px 5px 5px;
    margin: 2px 2px 2px 2px;
    border-collapse: collapse;
    font-size: x-small;
}

.Overview {
    padding: 5px 5px 5px 5px;
    margin: 2px 2px 2px 2px;
    border-collapse: collapse;
    font-size: x-small;
}

.Heading {
    background-color: #005AFF;
    color: #FFFFFF;
    font-weight: bold;
    padding: 5px 5px 5px 5px;
    margin: 2px 2px 2px 2px;
}

.Heading2 {
    background-color: #005AFF;
    color: #FFFFFF;
    font-style: italic;
    padding: 5px 5px 5px 5px;
    margin: 2px 2px 2px 2px;
}

.Blank {
    border: none;
    background-color: #FFFFFF;
    color: #FFFFFF;
    padding: 5px 5px 5px 5px;
    margin: 2px 2px 2px 2px;
    font-size: inherit;
}

.Empty {
    border: none;
    background-color: #FFFFFF;
    color: #FFFFFF;
    padding: 5px 5px 5px 5px;
    margin: 2px 2px 2px 2px;
    font-size: inherit;
}

.Plain {
    border: none;
    background-color: #FFFFFF;
    color: #111111;
    padding: 5px 5px 5px 5px;
    margin: 2px 2px 2px 2px;
    font-size: inherit;
}

.StatusCol {
    border: solid 1px #005AFF;
    padding: 5px 5px 5px 5px;
    margin: 2px 2px 2px 2px;
    font-size: inherit;
    vertical-align: top;
}

.LeftCol {
    border: solid 1px #005AFF;
    background-color: #EFF5FF;
    color: #111111;
    padding: 5px 5px 5px 5px;
    margin: 2px 2px 2px 2px;
    font-size: inherit;
    vertical-align: top;
}

.RightCol {
    border: solid 1px #005AFF;
    background-color: #EFF5FF;
    color: #111111;
    padding: 5px 5px 5px 5px;
    margin: 2px 2px 2px 2px;
    font-size: inherit;
    vertical-align: top;
}

.AltLeftCol {
    border: solid 1px #005AFF;
    background-color: #CCDEFF;
    color: #111111;
    padding: 5px 5px 5px 5px;
    margin: 2px 2px 2px 2px;
    font-size: inherit;
    vertical-align: top;
}

.AltRightCol {
    border: solid 1px #005AFF;
    background-color: #CCDEFF;
    color: #111111;
    padding: 5px 5px 5px 5px;
    margin: 2px 2px 2px 2px;
    font-size: inherit;
    vertical-align: top;
}

.table-heading {
    background-color: #005AFF;
    color: #FFFFFF;
}

.table-column {
    background-color: #EFF5FF;
}

.table-column-alt {
    background-color: #CCDEFF;
}

.column {
    background-color: #EFF5FF;
}
