.table-heading {
    background-color: #000066;
    color: #FFFFFF;
}

.table-column {
    background-color: #F5F5FF;
}

.table-column-alt {
    background-color: #E5E5FF;
}

.column {
    background-color: #F5F5FF;
}
