.table-heading {
    background-color: #005AFF;
    color: #FFFFFF;
}

.table-column {
    background-color: #EFF5FF;
}

.table-column-alt {
    background-color: #CCDEFF;
}

.column {
    background-color: #EFF5FF;
}
