.table-heading {
    background-color: #003300;
    color: #FFFFFF;
}

.table-column {
    background-color: #e6ffe6;
}

.table-column-alt {
    background-color: #bcffc2;
}

.column {
    background-color: #e6ffe6;
}
