.table-heading {
    background-color: #164A41;
    color: #FFFFFF;
}

.table-column {
    background-color: #e3ffd8;
}

.table-column-alt {
    background-color: #badabc;
}

.column {
    background-color: #e3ffd8;
}
