.table-heading {
    background-color: #003300;
    color: #FFFFFF;
}

.table-column {
    background-color: #E6FFE6;
}

.table-column-alt {
    background-color: #BCFFC2;
}

.column {
    background-color: #E6FFE6;
}
