.table-heading {
    background-color: #111111;
    color: #FFFFFF;
}

.table-column {
    background-color: #F5F5F5;
}

.table-column-alt {
    background-color: #E5E5E5;
}

.column {
    background-color: #F5F5F5;
}
