.table-heading {
    background-color: #FFFFFF;
    color: #000000;
}

.table-column {
    background-color: #FFFFFF;
}

.table-column-alt {
    background-color: #FFFFFF;
}

.column {
    background-color: #FFFFFF;
}