.table-heading {
    background-color: #F7882F;
    color: #FFFFFF;
}

.table-column {
    background-color: #fff3e5;
}

.table-column-alt {
    background-color: #ffd6a6;
}

.column {
    background-color: #fff3e5;
}
