.table-heading {
    background-color: #C35617;
    color: #FFFFFF;
}

.table-column {
    background-color: #FFFFFF;
}

.table-column-alt {
    background-color: #FFD06B;
}

.column {
    background-color: #FFFFFF;
}
