.table-heading {
    background-color: #7700FF;
    color: #FFFFFF;
}

.table-column {
    background-color: #F6EFFF;
}

.table-column-alt {
    background-color: #E1C6FF;
}

.column {
    background-color: #F6EFFF;
}
