.table-heading {
    background-color: #7700FF;
    color: #FFFFFF;
}

.table-column {
    background-color: #faf6ff;
}

.table-column-alt {
    background-color: #ead8ff;
}

.column {
    background-color: #faf6ff;
}
