.table-heading {
    background-color: #7F0000;
    color: #FFFFFF;
}

.table-column {
    background-color: #f2e6e6;
}

.table-column-alt {
    background-color: #daa5a5;
}

.column {
    background-color: #f2e6e6;
}
