.table-heading {
    background-color: #7F0000;
    color: #FFFFFF;
}

.table-column {
    background-color: #FFE6E6;
}

.table-column-alt {
    background-color: #B75F5F;
}

.column {
    background-color: #FFE6E6;
}
