.table-heading {
    background-color: #cdc129;
    color: #FFFFFF;
}

.table-column {
    background-color: #ffffe5;
}

.table-column-alt {
    background-color: #fff2b2;
}

.column {
    background-color: #ffffe5;
}
