<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="HFM.NET Rules" Description="All Rules for HFM.NET" ToolsVersion="10.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1020" Action="None" />
    <Rule Id="CA1031" Action="None" />
    <Rule Id="CA1303" Action="None" />
    <Rule Id="CA1600" Action="None" />
    <Rule Id="CA1601" Action="None" />
    <Rule Id="CA1702" Action="None" />
    <Rule Id="CA1704" Action="None" />
    <Rule Id="CA1811" Action="None" />
    <Rule Id="CA2204" Action="None" />
  </Rules>
</RuleSet>